@import "_config";
@import "mixins/_ddscommon";

/* ==========================================================================
   ddsBar
   ========================================================================== */

.DdsBar {
    //width: 100%;
    //min-height: $dds-bar-min-height;
    // z-index: $top-most-layer;
    background-color: $dds-bar-background-color;
    // @include linear-gradient($dds-bar-background-color-start,$dds-bar-background-color-stop);
}

.NavButton {
    // width: $nav-button-width;
    // min-width: $nav-button-touchable-min-width;
    // height: $nav-button-height;
    // padding: $nav-button-padding;
    // margin-top: $nav-button-margin-top;
    border: $nav-button-border;
    // line-height: $nav-button-line-height;
    font-family: $nav-button-font-family;
    font-size: $nav-button-font-size;
    font-weight: $nav-button-font-weight;
    // overflow: $nav-button-overflow;
    // @include text-overflow($nav-button-text-overflow);
    // text-decoration: $nav-button-text-decoration;
    // text-align: $nav-button-text-align;
    // white-space: $nav-button-white-space;
    color: $nav-button-color;
    background-color: $nav-button-background-color;
    // vertical-align: $nav-button-vertical-align;
    @include border-radius($nav-button-border-radius);
}

.NavButtonIcon {
    fill: $nav-button-color;
}

.SignOnButton, .RightAlignButton {
    // float: right;
}