@import "_config";
@import "mixins/_ddscommon";

/* ==========================================================================
   DDS Window Records
   ========================================================================== */

.DdsInlinePopUpBackground {
	position: $dds-inline-popup-background-position;
	top: $dds-inline-popup-background-top;
	left: $dds-inline-popup-background-left;
	width: $dds-inline-popup-background-width;
	height: $dds-inline-popup-background-height;
	z-index: $top-layer; 
	// background-color: $dds-window-background-color;
    // @include opacity($semi-transparency);
}

.DdsInlinePopUpTable {
	position: $dds-inline-popup-table-position;
	background-color:$dds-inline-popup-table-background-color;
	overflow: $dds-inline-popup-table-overflow;
	z-index: $top-most-layer;
	border-collapse: $dds-inline-popup-table-border-collapse;
}

.DdsInlinePopUpContent {
	width: $dds-inline-popup-content-width;
}

.DdsInlinePopUpTitle {
	padding: $dds-inline-popup-title-padding;
	height: $dds-window-title-height;
	// color: $dds-window-title-color;
	// background-color: $dds-window-title-backround-color;
}
