@import "_config";
@import "mixins/_ddsignature";

/* ==========================================================================
   ddsSignature
   ========================================================================== */

.DdsSignature {
    margin-left: $dds-signature-margin-left;
    width: $dds-signature-width; 
    border: $dds-signature-border;
    -webkit-border-radius: $dds-signature-border-radius;
}

.DdsSignLink {
    right: $dds-sign-link-right;
}

.DdsSignEditor, .DdsSignEditorTitle {
    margin: 0;
    padding: 0;
    border-style: none;
    color: $dds-sign-editor-color;
    background-color: $ddssign-editor-background-color;
}

.DdsSignEditorTitle {
    @include sign-editor-title( none, 0, $dds-sign-editor-title-margin-top, $dds-sign-editor-title-text-align, $dds-sign-editor-title-font-size, $dds-sign-editor-title-font-weight );
}

.DdsSignCancelButton, .DdsSignDoneButton, .DdsSignEraseButton {
    @include signature-button($dds-sign-buttons-margin,0,none,$dds-sign-buttons-font-size,$dds-sign-buttons-color,$dds-sign-buttons-background-color);
}

.DdsSignCancelButton {
    color: orangered;
}

.DdsSignDoneButton {
    font-weight: bold;
    color: yellow;
}