@import "_config";

/* ==========================================================================
   ddsList
   ========================================================================== */

.DdsList {
    font-weight: bold;
}

.DdsListList {
    //position: relative;
    //left: $dds-list-list-left;
    //padding: $dds-list-list-padding;
    //width: $dds-list-list-width;
    background-color: $dds-list-list-background-color;
}

.DdsListList table {
//    width: 100%;
//    border-collapse: collapse;
}

.DdsListList table tbody tr {
    border-bottom: $dds-list-list-row-border-bottom;
}

.DdsListDetail {
    font-weight: normal;
}

.DdsListImage {
    width:$dds-list-image-width;
    height:$dds-list-image-height;
    background-image: $dds-list-image-background-image;
    background-repeat: $dds-list-image-repeat;
}

.DdsListIcon {
    fill: $dds-list-icon-fill;
    width: $dds-list-icon-width;
    height: $dds-list-icon-height;
    // display: $dds-list-icon-display;
    // overflow: $dds-list-icon-overflow;
}

.DdsListChevron {
    fill: $dds-list-icon-fill;
    width: $dds-list-chevron-icon-width;
    height: $dds-list-chevron-icon-height;
    // display:  $dds-list-chevron-icon-display;
    // overflow: $dds-list-chevron-icon-overflow;
}

