@import "_config";
@import "mixins/_ddscommon";

/* ==========================================================================
   ddsDateField
   ========================================================================== */

.DdsDateField {
    // border: $dds-input-field-border;
    border-color: $dds-input-field-border-color;
    //margin: $dds-input-field-margin;
    //padding: $dds-padding;
}

.DdsDateField_Error {
    @extend .DdsDateField;
	color: $dds-field-error-color;
	background-color: $dds-field-error-background-color;
}

//.DdsDateField_OutputOnly {
//    @extend .DdsDateField;
//    border: none;
//}

//.DdsDateField_Right {
//    @extend .DdsDateField;
//    text-align: right;
//}

.DdsDateField_Right_Error {
    @extend .DdsDateField_Error;
    text-align: right;
}

//.DdsDateField_Right_OutputOnly {
//    @extend .DdsDateField;
//    border: none;
//}

.DdsDateFieldButton {
    // float: $dds-date-field-button-float !important; // !important is unfortunately necessary because DdsDateField generates inline-style="float:right", the CSS float:none does not override it (unless !important is used)
    // height: $dds-date-field-button-height;
    // margin-left: $dds-date-field-button-margin-left;
    background-color: $dds-date-field-button-background-color;
    border: $dds-date-field-button-border;
    color: $dds-date-field-button-color;
}
