@import "_config";
@import "mixins/_ddscommon";

/* ==========================================================================
   ddsDateField
   ========================================================================== */

.DdsDateField {
    // border: $dds-input-field-border;
    border-color: $dds-input-field-border-color;
    //margin: $dds-input-field-margin;
    //padding: $dds-padding;
}

.DdsDateField_Error {
    @extend .DdsDateField;
	color: $dds-field-error-color;
	background-color: $dds-field-error-background-color;
}

//.DdsDateField_OutputOnly {
//    @extend .DdsDateField;
//    border: none;
//}

//.DdsDateField_Right {
//    @extend .DdsDateField;
//    text-align: right;
//}

.DdsDateField_Right_Error {
    @extend .DdsDateField_Error;
    text-align: right;
}

//.DdsDateField_Right_OutputOnly {
//    @extend .DdsDateField;
//    border: none;
//}

