@import "_config";
@import "mixins/_ddscommon";

/* ==========================================================================
   ddsDateField
   ========================================================================== */

.DdsDateField {
    border: $dds-input-field-border;
    margin: $dds-input-field-margin;
    padding: $dds-padding;
}

//.DdsDateField_Error {
//    @extend .DdsDateField;
//	color: $dds-field-error-color;
//	background-color: $dds-field-error-background-color;
//}

.DdsDateField_OutputOnly {
    @extend .DdsDateField;
    border: none;
}

.DdsDateField_Right {
    @extend .DdsDateField;
    text-align: right;
}

//.DdsDateField_Right_Error {
//    @extend .DdsDateField_Error;
//    text-align: right;
//}

.DdsDateField_Right_OutputOnly {
    @extend .DdsDateField;
    border: none;
}

.DdsDateFieldButton {
    float: $dds-date-field-button-float !important; // !important is unfortunately necessary because DdsDateField generates inline-style="float:right", the CSS float:none does not override it (unless !important is used)
    height: $dds-date-field-button-height;
    margin-left: $dds-date-field-button-margin-left;
    // background-color: $dds-date-field-button-background-color;
    // border: $dds-date-field-button-border;
    // color: $dds-date-field-button-color;
}

// The following are Framework-only CSSs, we make an exception to the color rule (that normally goes into Theme.css

/*
   DdsDateFieldNonAbsolute (with their _Right_XXX and _OutputOnly appended
   class names) are used by the Toolbox icon, when dragging and dropping
   to Web Form Designer onto a non-absolute containter.     
   ========================================================================== */
.DdsDateFieldNonAbsolute {
    border: $dds-input-field-border;
    margin: $dds-input-field-margin;
    padding: $dds-padding;
    width: $dds-date-field-non-absolute-width;
}

.DdsDateFieldNonAbsolute_Error {
    @extend .DdsDateFieldNonAbsolute;
	color: $dds-field-error-color;
	background-color: $dds-field-error-background-color;
}

.DdsDateFieldNonAbsolute_OutputOnly {
    @extend .DdsDateFieldNonAbsolute;
    border: none;
}

.DdsDateFieldNonAbsolute_Right {
    @extend .DdsDateFieldNonAbsolute;
    text-align: right;
}

.DdsDateFieldNonAbsolute_Right_Error {
    @extend .DdsDateFieldNonAbsolute_Error;
    text-align: right;
}

.DdsDateFieldNonAbsolute_Right_OutputOnly {
    @extend .DdsDateFieldNonAbsolute_Right;
    border: none;
}