/**
 * Framework.css 
 *
 * This Cascading Stylesheet includes styles that are required by ASNA MobileRPG
 * framework.
 *
 * As a rule, do not change the contents of this file.
 *
 * If minor changes to site styles are desired, ASNA strongly recommends changing
 * the Theme.css Cascading Stylesheet, found in the same directory as this file.
 *
 * Should you desire to significantly change the branding of your MobileRPG project,
 * ASNA recommends getting the SASS source file structure that will allow you to generate  
 * Framework.css from https://github.com/ASNA/MobileRPG-Sass,  after you have changed the
 * parameters described in the _config.scss file.
 *
 * To improve performance, you may want to use the "Minified" version of this Cascading 
 * Stylesheet by getting the SASS source file structure from https://github.com/ASNA/MobileRPG-Sass, 
 * that will allow you to generate the Framework.min.css, which you can link from your 
 * MasterPage.master file, replacing the reference to Framework.css.
 *
 * To facilitate working with SASS, ASNA recommends installing the following Visual Studio Extensions:
 *
 *    Visual Studio 2015: Go to "Tools" menu and select "Extensions and Updates" option. 
 *       On the dialog box that appears, click on the "online" extensions, and look for "Web Compiler". 
 *       Once the "Web compiler" extension is installed, you can right-click on any of the Sass files in 
 *       your website, and an explicit "Re-compile file" menu option will be available. 
 *       Re-compiling a Sass file produces the CSS and min.CSS files
 *
 *    Visual Studio 2013: install the Microsoft "Web Essentials" package for Visual Studio 2013 from here: 
 *       https://visualstudiogallery.msdn.microsoft.com/56633663-6799-41d7-9df7-0f2a504ca361
 *
*/

@import "_config";
@import "mixins/_ddscommon";

// @media screen { /* All devices - later we override for particular Mobile Touch devices */

// /* Root
//    ========================================================================== */
    html {
        // font-family: $html-font-family;
    }

    body {
        // margin: $body-margin;
        // margin-left: $body-margin-left;
        // margin-right: $body-margin-right;
        // font-size: $body-font-size;
    }

/* Selection
    ========================================================================== */
    ::-moz-selection {
        background: $selection-background-color;
        color: $selection-color;
        text-shadow: $selection-text-shadow;
    }

    ::selection {
        background: $selection-background-color;
        color: $selection-color;
        text-shadow: $selection-text-shadow;
    }

/* Links
    ========================================================================== */
    /* Remove gray background color from active links in IE 10 */
    a {
        background: transparent;
        color:$links-color;
    }

/* Typography
    ========================================================================== */
    /* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
    b,
    strong {
        font-weight: bold;
    }

    /* Address inconsistent and variable font size in all browsers. */
    small {
        font-size: 80%;
    }

    /* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

/* Embedded
       ========================================================================== */

    /* Correct overflow displayed oddly in IE 9. */
    svg:not(:root) {
        overflow: hidden;
    }

/* Grouping
       ========================================================================== */
    /* Address differences between Firefox and other browsers. */
    hr {
        box-sizing: content-box;
        height: 0;
    }

    /* Address odd `em`-unit font size rendering in all browsers. */
    code,
    kbd,
    pre,
    samp {
        font-family: Consolas, monospace;
        font-size: 1em;
    }

    /* Used by DdsPanel */
    fieldset {
        border: 0;
    }

/* Forms
    ========================================================================== */

    /* Address `overflow` set to `hidden` in IE 8/9/10. */
    button {
        overflow: visible;
    }

    /*
        Address inconsistent `text-transform` inheritance for `button` and `select`.
        All other form control elements do not inherit `text-transform` values.
        Correct `button` style inheritance in Firefox, IE 8+, and Opera
        Correct `select` style inheritance in Firefox.
    */
    button,
    select {
        text-transform: none;
    }

    /*
        Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
        Correct inability to style clickable `input` types in iOS.
        Improve usability and consistency of cursor style between image-type `input` and others.
    */
    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    /* Re-set default cursor for disabled elements. */
    button[disabled],
    html input[disabled] {
        cursor: default;
    }

    /* Remove inner padding and border in Firefox 4+. */
    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    /* Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
    input {
        line-height: normal;
    }

/* ==========================================================================
    Utility classes
    ========================================================================== */

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-justify {
        text-align: justify;
    }

    .no-vert-margin {
        margin-top: 0;
        margin-bottom: 0;
    }

    .no-overflow {
        overflow: hidden;
    }

    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

/* ==========================================================================
    Display files. Default styles for all the DdsXXXX controls.
    ========================================================================== */

    /* When Page submits, cover all elements with a semi-transparent layer to avoid input */
    .SubmitWait {
	    background-color:  LightGray;
        @include opacity($semi-transparency);
    }

    /* If the response has not come within 2 seconds, show a Spinning Wheel */
    .SubmitWait_2Seconds {
	    background-image: $url-spinningwheel;
	    background-repeat: no-repeat;
	    background-position: center;
    }

// @import "_5250";    - removed from MobileRPG
@import "_calendar-framework";
@import "_ddsbar-framework";
@import "_ddscharfield-framework";
@import "_ddschart-framework";
@import "_ddsconstant-framework";
@import "_ddsdatefield-framework";
@import "_ddsdecdatefield-framework";
@import "_ddsdecfield-framework";
@import "_ddsimage-framework";
@import "_ddslist-framework";
@import "_ddspanel-framework";
@import "_ddsrecord-framework";
@import "_ddssignature-framework";
@import "_ddsswitch-framework";
@import "_ddstable-framework";
@import "_ddstimefield-framework";
@import "_ddstimestampfield-framework";
@import "_ddswindowrecord-framework";
@import "_ddsdecrange-framework";
@import "_dynamic-list";


// }

// @import "media/_common";

// @import "media/_apple";
// @import "media/_samsung";
// @import "media/_goggle";
