/**
 * Theme.css
 *
 * This Cascading Stylesheet includes styles that override the ASNA Mobile RPG
 * framework defaults.
 *
 * Feel free to customize your site’s styles by changing the contents of this file.
 *
 * If overriding the framework defaults is not enough to produce your own branding,
 * follow the instructions in the header comment of Framework.css, found in the same 
 * folder as this file, to radically change the Styles of your ASNA Mobile RPG website.
 *
 * To improve performance, you may want to use the "Minified" version of this Cascading 
 * Stylesheet by getting the SASS source file structure from: https://github.com/ASNA/MobileRPG-Sass,
 * that will allow you to generate the Theme.min.css which you can link from your 
 * MasterPage.master file, replacing the reference to Theme.css.
 *
*/

@import "_config";
@import "mixins/_ddscommon";

/*  Set the default font (family and size) for all elements in the page.
    On the body, set margins on both sides to avoid text too close to edges.
    ========================================================================== */
html {
    font-family: $font-family-base;
    font-size: $font-size-base;
}

body {
    margin: $body-margin;
    margin-left: $body-margin-left;
    margin-right: $body-margin-right;
}

input[type=text], input[type=password] {
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid lightgray;
    background-color: white;
    font-size: 14px;
    -webkit-appearance: none;
    border-radius: 0;
}

button[type=button] {
    -webkit-appearance: none;
    font-size: 14px;
    border-radius: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid gray;
    color: gray;
    background-color: white;
}

// @media screen { /* All devices - later we override for particular Mobile Touch devices */

// @import "_5250.scss";    - removed from MobileRPG
@import "_calendar";
@import "_ddsbar";
@import "_ddscharfield";
@import "_ddschart";
@import "_ddsconstant";
@import "_ddsdatefield";
@import "_ddsdecdatefield";
@import "_ddsdecfield";
@import "_ddsimage";
@import "_ddslist";
@import "_ddspanel";
@import "_ddsrecord";
@import "_ddssignature";
@import "_ddsswitch";
@import "_ddstable";
@import "_ddstimefield";
@import "_ddstimestampfield";
@import "_ddswindowrecord";

// }
