@mixin opacity($opacity) {
	opacity: $opacity; 
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; // Fallback Color
  background-image: linear-gradient(top, $fromColor, $toColor);
}

@mixin tap-highlight-color($color) {
    -webkit-tap-highlight-color: $color;
}
