@mixin panel-title($font-size, $title-color, $white-space, $vertical-align, $line-height, $text-align) {
    font-size: $font-size;
    color: $title-color;
    white-space: $white-space;
    vertical-align: $vertical-align;
    line-height: $line-height;
    text-align: $text-align;
}