@mixin sign-editor-title($border, $padding, $margin-top, $text-align, $font-size, $font-weight ){
    border: $border;
    padding: $padding;
    margin-top: $margin-top;
    text-align: $text-align;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin signature-button( $margin, $padding, $border, $font-size, $color, $background-color ) {
    margin: $margin;
    padding: $padding;
    border: $border;
    font-size: $font-size;
    color: $color;
    background-color: $background-color;
}